<h1 id="error-codes"> Error Codes </h1>

Pi42 APIs use the following error codes:

<table><thead>
<tr>
<th>Error Code</th>
<th>HTTP Status Code</th>
<th>Error Message</th>
<th>API Endpoints</th>
</tr>
</thead><tbody>
<tr>
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
<tr>
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
<tr>
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
</tbody></table>